body {
    background-image: url(spiral-clock-the-flow-of-time-dark-blue-turquoise-royalty-free-image-1699913386.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}